.smaller-button {
    padding: 3px;
    margin: 0px;
    border: 1px solid #10152C;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    color: #F6F7EC;
    background-color: #3F599F;
}

tr.example-detail-row {
    height: 0;
}

.example-expanded-row {
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.selected-row {
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.fastest {
	font-weight: 500 !important;
}

.fastest-row {
	border: solid 2px green;
	border-radius: 5px;
}

.faster {
	color: green;
}

.slower {
	color: #DA4D1A;
}

table {
	background-color: #F6F7EC;
	border-collapse: collapse;
}

.mat-cell,
.mat-header-cell {
    padding: 2px 5px;
    text-align: center;
	color: inherit;
	border: none;
}

.mat-cell {
	font-weight: 300;
}

.mat-header-cell {
	font-size: 15px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
	padding-right: 0px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
	padding-left: 0px;
}

.mat-column-numLaps {
	word-wrap: break-word !important;
    white-space: unset !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-comment {
	word-wrap: break-word !important;
    white-space: pre-wrap;
    width: 25% !important;
    overflow-wrap: break-word;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.comment-update {
	word-wrap: normal !important;
    white-space: normal !important;
    overflow-wrap: normal;
    word-break: normal;

    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

textarea {
	height: 20px;
}

.sortable {
    cursor: pointer;
    border: none;
    background: 0 0;
    display: flex;
    padding: 0;
    outline: 0;
    font: inherit;
    color: currentColor;
}

.sortable:hover {
    text-decoration: underline;
}

.sort-icon {
    font-size: 12px !important;
    padding-top: 5px;
    margin-left: -5px;
}
