
body {
    background-color: #F6F7EC;
}

p, h1 {
    margin-bottom: 0 !important;
}
body {
    margin: 0;
}

.container {
    margin: 0.5rem 2rem;
}

.container-sm {
    margin: 1rem;
}

table {
    width: 100%;
}

a {
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font: 400 16px/16px 'Kanit';
}

.disabled {
    opacity: 30%;
}

a:hover:not(.disabled) {
    cursor: pointer;
    color: #DA4D1A;
}

.mat-tab-label:hover:not(.disabled) {
    color: #DA4D1A;
}

.ngx-charts .refline-label{
	font-size: 10px !important;
	font-weight: normal !important;
}

.center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.faster {
	color: green;
}

.slower {
	color: #DA4D1A;
}
