
body {
    background-color: #F6F7EC;
}

p, h1 {
    margin-bottom: 0 !important;
}
body {
    margin: 0;
}

.container {
    margin: 3rem;
}

table {
    width: 100%;
}

a {
    padding: 0.75rem;
    margin: 5px;
    border: 1px solid #10152C;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    color: #F6F7EC;
    background-color: #3F599F;
}

.disabled {
    opacity: 50%;
}

a:hover:not(.disabled) {
    color: #F6F7EC;
    background-color: #10152C;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}