table {
	background-color: #F6F7EC;
	border-collapse: collapse;
}

.mat-cell,
.mat-header-cell {
	color: inherit;
}

.mat-cell {
	font-weight: 300;
}

.mat-header-cell {
	font-size: 15px;
}

.mat-column-log {
	word-wrap: break-word !important;
	white-space: unset !important;
	width: 45% !important;
	overflow-wrap: break-word;
	word-break: break-word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}